@page "/"
@using BancaComuni;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@foreach (var a in Enum.GetValues(typeof(Operazioni)))
{

    <input type="radio"  name="operazioni" value="@a" @onchange="(() => Selected = (Operazioni)a)"  />
    <label for="@a">@a</label>
    <br />
}
<br/>
@if (Selected is Operazioni.Prelievo || Selected is Operazioni.Deposito)
{
    <input type="number" @bind="@QuantitativoDenaro" />
}
<button @onclick="Esegui" type="submit"/>
@code {
    Cliente c = new("Mattia","Gambato",300,"batanga");
    void Esegui()
    {
        Comunicazione.EseguiOperazione(Selected, c, QuantitativoDenaro?.ToString() ?? string.Empty);
    }
    Operazioni Selected {get;set;}
    double? QuantitativoDenaro { get; set; }
}